* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* NAVBAR */
header {
  position: fixed;
  width: 100%;
  background: #111;
  padding: 15px 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #111, #333);
  color: white;
  text-align: center;
}

.hero span {
  color: cyan;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: cyan;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
}

.dark {
  background: #f4f4f4;
}

/* SKILLS */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.grid div {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* PROJECTS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: left;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
}
